# rpy2=3.5.1
pandas
lazyeval
r-cvms
r-dplyr
r-ggimage
r-rsvg # Conda forge?
r-optparse
r-ggnewscale
r-stringr

# Needs:
# conda config --add channels conda-forge
# conda config --set channel_priority strict